form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
@media (orientation: landscape) {
  form {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media (min-width: 769px) {
  form {
    flex-direction: row;
    gap: 1.5rem;
    mat-form-field {
      flex: 1;
    }
  }
}
